# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# Sass
.sass-cache

# Grav Specific
data/*
!data/.*
plugins/*
!plugins/.*
composer.lock
cache/*
assets/*
logs/*
images/*

# phpstorm
.idea/*
themes/learn2
*.css.map